@CHARSET "UTF-8";

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
	}

table {
  font-family: 'Arial';
  margin: 5px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
	}
	
table td:hover {
  background: #f4f4f4;
	}
	
table td:hover td {
  color: #555;
	}
	
table th, table td {
  color: #999;
  border: 1px solid #eee;
  padding: 7px 20px;
  border-collapse: collapse;
	}
	
table th {
  background: #CC0000;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
	}	

.ui-tabs-vertical { 
	width: 55em; 
	}
.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em; 
	float: left; 
	width: 12em; 
	}
.ui-tabs-vertical .ui-tabs-nav li { 
	clear: left; 
	width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 
	margin: 0 -1px .2em 0; 
	background: #333332;
	}
.ui-tabs-vertical .ui-tabs-nav li a {
	display:block; 
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	transition: color .5s, background .5s, height .5s;
	padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
	}
.ui-tabs-vertical .ui-tabs-nav li a:hover{
    background: #CC0000;
    color: #FFF;
	}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	padding-bottom: 0; 
	padding-right: .1em; 
	border-right-width: 1px; 
	}
.ui-tabs-vertical .ui-tabs-panel { 
	padding: 1em; 
	float: right; 
	width: 40em;
	}
#red {
	background: #fbcfd0;
}
#green{
	background: #e3f2e0;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
		text-align: center;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0;
		width: 320px; }
	}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 495px;
	}
}