@CHARSET "UTF-8";

table td:hover {
  	background: #f4f4f4;
	}
	
table td:hover td {
  	color: #555;
	}
	
table td {
	color: #999;
	}
	
table th {
	background: #CC0000;
	color: #fff;
	}
 
table.dataTable tr.even { 
	background-color: #e8e8e8;  
	border:1px lightgrey;
	}
	
table.dataTable tr.odd{ 
	background-color: white; 
	border:1px lightgrey; 
	}	
	
/* CSS FOR RESPONSIVE TABLES */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
		text-align: center;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0;
		width: 320px; }
	}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 495px;
	}		
