@CHARSET "UTF-8";
/*Alert Boxes*/
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #953b39;
}
button.close {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  cursor: pointer;
  padding: 0;
}
.close {
  color: #000000;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
}

/*Popovers. Another way to indicate an error.*/
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* Fix to make border-radius work for transparent colors */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
  border-radius: 0px 0px 5px 5px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  bottom: -11px;
}
.popover.top .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
}
.popover.right .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  top: -11px;
}
.popover.bottom .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
}
.popover.left .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

/*Tables*/
}
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.5384615384615385;
  vertical-align: top;
  border-top: 1px solid #e5e4e3;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #e5e4e3;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #e5e4e3;
}
.table .table {
  background-color: #ffffff;
}
@media (max-width: 799px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #e5e4e3;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

 /*Search*/
 .searchform .search-field {
  display: table-cell;
  vertical-align: top;
}
.searchform .search-button {
  display: table-cell;
  width: 33px;
  vertical-align: top;
}
.searchform .search-table .search-field input {
  color: #AAA9A9;
  background-color: #ffffff;
  border: 1px solid #D2D2D2;
  color: #747474;
  font-size: 13px;
  padding: 8px 15px;
  height: 33px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.searchform .search-table .search-button input[type="submit"] {
  background: #000000;
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 14px;
  height: 33px;
  line-height: 33px;
  margin: 0;
  padding: 0;
  width: 33px;
  text-indent: 0;
  cursor: pointer;
  font-family: 'icomoon';
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.searchform .search-table .search-button input[type="submit"]:hover {
  background: #A0CE4E;
}
.search-page-search-form {
  padding-bottom: 60px;
  border-bottom: 1px solid #E6E5E6;
  margin-bottom: 60px;
}
.search-page-search-form .seach-form {
  text-align: right;
}
.search-page-search-form .seach-form .search-table .search-field input {
  text-indent: 0;
}

/*Pagination*/
.pagination.infinite-scroll {
  visibility: hidden;
}
.pagination,
.page-links,
.woocommerce-pagination {
  float: right;
  margin-top: 40px;
  font-size: 9px;
  margin-right: 10px;
}
.page-links {
  margin-bottom: 40px;
  margin-top: 30px;
}
.pagination a.inactive,
.page-links a,
.woocommerce-pagination .page-numbers {
  border: 1px solid #747474;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  color: #747474;
  padding: 0 6px;
  margin-left: 5px;
}
.pagination a.inactive:hover,
.page-links a:hover,
.woocommerce-pagination .page-numbers:hover {
  border: 1px solid #a0ce4e;
}
.pagination .current,
.page-links > .page-number,
.woocommerce-pagination .current {
  border: 1px solid #a0ce4e;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  color: #fff;
  padding: 0 6px;
  margin-left: 5px;
  background: #a0ce4e;
}
.pagination .pagination-prev,
.woocommerce-pagination .prev {
  margin-right: 3px;
  font-size: 12px;
}
.pagination .pagination-next,
.woocommerce-pagination .next {
  margin-left: 8px;
  font-size: 12px;
}

/* Button */
.button,
.fusion-button,
#reviews input#submit,
.price_slider_amount button,
.gform_wrapper .gform_button,
.fusion-pricing-table .button,
.bbp-submit-wrapper .button,
#comment-submit {
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.comment-form input[type="submit"] {
  width: auto;
  font-weight: bold;
}
.button.transparent,
.fusion-button.transparent {
  color: #333;
  border: 1px solid #D2D3D4;
  -webkit-box-shadow: 0 1px 1px rgba(99, 99, 99, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(99, 99, 99, 0.2);
  box-shadow: 0 1px 1px rgba(99, 99, 99, 0.2);
}
.button.transparent:hover,
.fusion-button.transparent:hover {
  color: #666;
}
.mobile-button {
  display: none;
  margin: 20px 0 0;
}

/*404 Pages*/
.error-page .useful-links {
  width: 30.66%;
  padding-left: 5%;
}
.error-page .oops {
  font-size: 117px;
  margin: 0 0 20px 0;
  line-height: 117px;
  font-weight: bolder;
  color: #F0F0F0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}
.error-page .sidebar-oops {
  font-size: 90px;
  line-height: 90px;
}
.error_page .oops h1 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

/*FontAwesome*/
.fontawesome-icon {
  display: inline-block;
  float: left;
}
.aligncenter .fontawesome-icon,
.fusion-alignleft .fontawesome-icon,
.fusion-alignright .fontawesome-icon {
  float: none;
}
.fontawesome-icon {
  margin-right: 10px;
}
.fontawesome-icon.circle-yes {
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  border-width: 1px;
  border-style: solid;
  background-color: #333333;
  color: #fff;
  text-align: center;
  margin-top: 2px;
}
.fontawesome-icon.large {
  font-size: 40px;
}
.fontawesome-icon.large.circle-yes {
  width: 70px;
  height: 70px;
  line-height: 70px;
}
.fontawesome-icon.medium {
  font-size: 18px;
}
.fontawesome-icon.medium.circle-yes {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.fontawesome-icon.small {
  font-size: 10px;
}
.fontawesome-icon.small.circle-yes {
  width: 18px;
  height: 18px;
  line-height: 19px;
}
.fontawesome-icon.circle-no.large {
  margin-top: 2px;
}
.fontawesome-icon.circle-no.medium {
  margin-top: 3px;
}
font-family: 'Raleway', sans-serif;

.fontawesome-icon.circle-no.small {
  margin-top: 5px;
}
.icon-heading .fontawesome-icon {
  margin-top: -6px;
}
.content-boxes .heading .fontawesome-icon {
  float: left;
}
.content-boxes .heading-and-icon h2 {
  padding-left: 45px;
}

/*To Top*/
#toTop {
  background-color: #333333;
  border-radius: 4px 4px 0 0;
  bottom: 0;
  color: #FFFFFF;
  display: none;
  height: 35px;
  position: fixed;
  right: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 48px;
  opacity: 0.9;
  z-index: 10000;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.no-totop #toTop {
  display: none !important;
}
#toTop:before {
  line-height: 35px;
  content: '\f106';
  -webkit-font-smoothing: antialiased;
  font-family: 'icomoon';
  font-size: 22px;
}
#toTop:hover {
  background-color: #A0CE4E;
}
#toTopHover {
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
}
#toTop:active,
#toTop:focus {
  outline: none;
  background-color: #333333;
}

/*Footer*/
.footer-copyright-area {
  z-index: 1;
  position: relative;
  padding: 18px 10px 12px;
  border-top: 1px solid #4b4c4d;
  background: #282a2b;
}
.footer-copyright-content {
  display: table;
  width: 100%;
}
.footer-copyright-notice {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #8c8989;
  font-size: 12px;
}
.footer-copyright-notice a {
  color: #bfbfbf;
}